body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden; 
}

div {
    display: inline-block;
    width: 100%;
}

#headImg {
    display: block;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    /* display: inline; */
    float: left;
    max-width: 400px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: white;
}

/* .active {
    background-color: #182b49;
    color: white;
} */

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
}

#section1 {
    background-color: rgb(245, 240, 230);
}

#section2 {
    background-image: url('../img/bg-orbs-1.jpg');
    color: white;
}

#section3 {
    background-color: rgb(245, 240, 230);
}

#section3 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
 
}

#section3 .container div {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;
    padding: 15px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    #navbar {
        display: none;
    }

    #headImg {
        max-width: 75%;
    }

    #section3 .container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}



